%p= t(:neribun_with_location)

%p
  %a.linkMark{:href => "http://maps.google.co.jp/maps/ms?ie=UTF8&brcurrent=3,0x6018ed0919f73af7:0x7c22c5fa95e45acb,0&hl=en&source=embed&msa=0&msid=111740698347778329061.000481ccda497fef7135d&ll=35.738701,139.654073&spn=0.003483,0.004281&z=17", :target => "_blank"} Map

%p
  The venue is a short walk from the North Exit of
  %a{ :href => 'http://en.wikipedia.org/wiki/Nerima_Station', :target => '_blank' } Nerima Station,
  served by the Seibu Ikebukuro, Yurakucho and Toshima Lines (Seibu Railway) and the Oedo Line (Toei Subway). We recommend you use the Seibu Ikebukuro Line to get Nerima Station from
  %a{ :href => 'http://en.wikipedia.org/wiki/Ikebukuro_Station', :target => '_blank' } Ikebukuro station.
  It takes about 10 minutes.

%h3
  Getting to
  %a{ :href => 'http://en.wikipedia.org/wiki/Ikebukuro_Station', :target => '_blank' } Ikebukuro Station
%ul.listMark
  %li From Tokyo Station: Take Marunouchi line of Tokyo Metro. Exit Ikebukuro Station. Walk to Ikebukuro Station of Seibu Railway.
  %li
    From Haneda Airport: Use expressway bus (such as
    %a{ :href => 'http://www.limousinebus.co.jp/en/', :target => '_blank' } Airport Limousine
    or
    %a{ :href => 'http://hanedabus.jp/timetable_e.htm', :target => '_blank' } Keihin Kyuko Bus
    ) to Ikebukuro Statation East #1 Exit. Walk to Ikebukuro Station of Seibu Railway.
  %li
    From Narita Airport: Use expressway bus (such as
    %a{ :href => 'http://www.limousinebus.co.jp/en/', :target => '_blank' } Airport Limousine
    ) to Hotel Metropolitan Tokyo or Sunshine City Prince Hotel. Walk to Ikebukuro Station of Seibu Railway.

%h3#party-venue
  Getting to
  %a{ :href => 'http://r.gnavi.co.jp/g085702/lang/en/map', :target => '_blank' } Sunshine Cruise Cruise (Party Venue)

%p
  The official RubyKaigi 2011 on Sunday (July 17th) will be held at Sunshine Cruise Cruise on the 58th floor of the Sunshine 60 building in the
  %a{ :href => 'http://en.wikipedia.org/wiki/Sunshine_City,_Tokyo', :target => '_blank'}Sunshine City
  complex in Ikebukuro. Sunshine City is a 10 minute walk from the East Exit of Ikebukuro Station.

%ul.listMark
  %li
    %a{ :href => 'http://goo.gl/x4QjM', :target => '_blank' } Walking Route (Google Maps)
  %li
    %a{ :href => 'http://goo.gl/p2Lm4', :target => '_blank' } Route with photos

%p
  When you reach Sunshine 60, take an elevator from basemenet level 1 (B1) to the 58th floor.
