%ul
  %li
    %time{:datetime => "2011-07-19"} 2011-07-19
    日本Ruby会議2011は全ての日程を終了いたしました。ご参加いただいた皆さま、ありがとうございました。
  %li
    %time{:datetime => "2011-07-13"} 2011-07-13
    %a{:href => "http://rubykaigi.tdiary.net/20110713.html#p02"}
      懇親会受付のお知らせ
  %li
    %time{:datetime => "2011-07-11"} 2011-07-11
    %a{:href => "http://rubykaigi.tdiary.net/20110711.html#p02"}
      体調管理に気をつけましょう(暑い件)
  %li
    %time{:datetime => "2011-07-03"} 2011-07-03
    %a{:href => "http://rubykaigi.tdiary.net/20110703.html#p01"}
      日本Ruby会議2011本編受付方法について
