%ul
  %li
    %time{:datetime => "2011-07-19"} 2011-07-19
    RubyKaigi 2011 is over. Thanks a lot for coming!
  %li
    %time{:datetime => "2011-07-14"} 2011-07-14
    %a{:href => "http://rubykaigi.tdiary.net/20110714.html#p01", :target => "_blank"}
      The official party registration information
  %li
    %time{:datetime => "2011-07-11"} 2011-07-11
    %a{:href => "http://rubykaigi.tdiary.net/20110711.html#p01", :target => "_blank"}
      Keep in shape (Beware of its being hot here in Tokyo).
  %li
    %time{:datetime => "2011-04-13"} 2011-04-13
    %a{:href => "http://rubykaigi.tdiary.net/20110413.html"} RubyKaigi planning memo for overseas
