%section#live_information
  %article
    %h2 IRC
    %ul.listMark
      %li Server : irc.rubykaigi.org
      %li Port : 6667 (6660..6669)
      %li Character Code : UTF-8
      %li= "Channels : #kaigi%d, #kaigi%d-m17n (for translation)" % [n, n]
  %article
    %h2 Twitter
    %ul.listMark
      %li
        Tweets with hashtag
        %a{ :href => "http://search.twitter.com/search?q=%23kaigi#{n}" }= "#kaigi#{n}"
        (for this hall) or
        %a{ :href => "http://search.twitter.com/search?q=%23rubykaigi" } #rubykaigi
        (Kaigi global)
